* {
    font-family: helvetica, Arial, sans-serif;
}


div {
    font-family: Arial, sans-serif, helvetica;
    font-size: 19px;
    color: rebeccapurple;
}
.opa {
    font-family: sans-serif;
    color: red;
}
#rtr {
    font-size: 30;
}
a[href="http://google.com"] {
    color: green;
}
a[href="http://yandex.ru"] {
    color: purple;
}
.conteiner h3 {
    background: rgba(93, 240, 220, 0.685);
}
.conteiner > p {
    text-decoration: line-through;
}
a:hover {
    text-decoration: none;
    color: red;
}