.wrap {
    width: 750px;
    margin: auto;
}
header {
    /*background: green;*/
}
.content {
    height: 450px;
    float: left;
    /*background: gray;*/
    width: 100%;
    border: 4px dashed rgb(26, 70, 1);
    padding: 10px 0 10px 0;
    margin: 6px 0 0 0;
}
aside {
    height: 100px;
    float: left;
    /*background: red;*/
    width:100%;
    border: 4px dashed red;
    text-align: center;
}
footer {
    /*background: blue;*/
    /*clear: both;*/
    border: 4px dashed rgb(53, 0, 66);
    padding: 10px 0 10px 0;
    text-align: right;
    width: 100%;
    height: 50px;
    top: 10px;
}
h1 {
    font-size: 15pt;
    color: #20bcd5;
    text-align: center;
    padding: 18px 18px 18px 18px;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px 10px 10px 10px;
}
a {
    border: 2px dashed rgb(9, 3, 100);
    padding: 9px 0 9px 0;
}
a:link, a:active {
    color:#0000ff;
    font-weight:bold
    }
    a:visited {
    color:#66cc66;
    font-weight:bold
    }
    a:hover {
    color:#ff0000;
    font-weight:bold;
    text-decoration:none
    }